{% extends 'main/base.html' %}
{% load custom_filters %}
{% load humanize %}
{% block content %}
<style>
    body {
            background-color: var(--background-color);
            color: var(--text-color);
            font-family: 'Open Sans', sans-serif;
        }

        .tabela {
            width: 1100px;
            border-collapse: collapse;
            margin: 0 auto 20px;
            border: 1px solid var(--light-gray);
        }

        th, td {
            padding: 10px;
            text-align: center;
            border: 1px solid var(--light-gray);
        }

        th {
            background-color: var(--primary-color);
            color: var(--white);
            font-weight: bold;
            text-transform: capitalize;
        }

        tr:nth-child(even) td {
            background-color: var(--light-gray);
        }

        h1 {
            color: var(--primary-color);
            text-align: center;
            margin-bottom: 20px;
        }
    .btn-voltar {
        display: inline-block;
        padding: 10px 20px;
        margin-top: 20px;
        background-color: var(--primary-color);
        color: var(--white);
        text-decoration: none;
        border-radius: 5px;
        transition: background-color 0.3s ease;
        }
        .btn-voltar:hover {
        background-color: var(--white);
        }
        .btn-voltar:first-of-type {
        margin-right: 10px;
        }
</style>

<h1>Detalhes da Fatura</h1>

<table class="tabela">
    <thead>
        <tr>
            <th colspan="5">Execução Financeira</th>
        </tr>
        <tr>
            <th>Número da Fatura</th>
            <th>Data</th>
            <th>Valor</th>
            <th>MyDoc (Opcional)</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ fatura.numero }}</td>
            <td>{{ fatura.data }}</td>
            <td>{{ fatura.valor|format_currency }}</td>
            <td>{{ fatura.mydoc }}</td>
        </tr>
    </tbody>
</table>

<a id="btn-voltar" class="btn-voltar" href="{% url 'lista_faturas' fatura.contract.id %}">Voltar</a>

<script>
    function gerarPDF() {
        const tabela = document.querySelector(".tabela");
    
        html2canvas(tabela, { 
            scale: 2,
            useCORS: true
        }).then(canvas => {
            const imgData = canvas.toDataURL('image/png');
            const pdf = new jsPDF({
                orientation: 'landscape',
                unit: 'mm',
                format: 'a4',
                putOnlyUsedFonts: true,
                floatPrecision: 16
            });
    
            const imgWidth = 290;
            const pageHeight = pdf.internal.pageSize.height;
            const imgHeight = canvas.height * imgWidth / canvas.width;
            let heightLeft = imgHeight;
    
            let position = 0;
    
            pdf.addImage(imgData, 'PNG', 0, position, imgWidth, imgHeight);
            heightLeft -= pageHeight;
    
            while (heightLeft >= 0) {
                position = heightLeft - imgHeight;
                pdf.addPage();
                pdf.addImage(imgData, 'PNG', 0, position, imgWidth, imgHeight);
                heightLeft -= pageHeight;
            }
    
            pdf.save('fatura.pdf');
        });
    }
</script>
{% endblock %}
