{% extends 'main/base.html' %}
{% block content %}
<h1>Contratos Ativos</h1>
{% if user.is_authenticated %}
<div>
    <ul style="list-style-type: disc; padding-left: 20px;">
        {% for uf, contract in contratos_ativos %}
        <li class="list-group-item">
            <a href="{% url 'contrato_detalhes' contract.id %}">
                <span style="font-weight: bold; font-size: 1.1em;">
                    {{ uf.name|slice:":-4"|capfirst }}  {# Remove a extensão do arquivo e capitaliza a primeira letra #}
                </span>
            </a>
        </li>
        {% empty %}
            <li class="list-group-item">Nenhum contrato ativo carregado.</li>
        {% endfor %}
    </ul>
</div>
<div style="position: fixed; bottom: 20px; right: 20px; display: flex; gap: 10px;">
    <form method="POST" enctype="multipart/form-data" action="{% url 'upload_file' %}">
        {% csrf_token %}
        
        <label for="file" style="cursor: pointer; background-color: #007bff; color: white; padding: 10px 20px; border-radius: 5px;">
            Selecionar contrato
        </label>
        <input type="file" id="file" name="file" required style="display: none;" onchange="handleFileSelect(event)">
        
        <button type="submit" id="submit-btn" disabled style="background-color: #28a745; color: white; padding: 10px 20px; border: none; border-radius: 5px; cursor: pointer;">
            Inserir
        </button>
    </form>
</div>

<script>
    function handleFileSelect(event) {
        const submitBtn = document.getElementById('submit-btn');
        const fileInput = event.target;

        if (fileInput.files.length > 0) {
            submitBtn.disabled = false;
        } else {
            submitBtn.disabled = true;
        }
    }
</script>
{% endif %}
{% endblock %}